<div>
  <mat-form-field class="example-full-width">
    <input matInput #searchTerm placeholder="comida" (keyup)="search(searchTerm.value)">
  </mat-form-field>
  <button md-button>Añadir comida a la semana</button>
  <!--
  <p>Buscador:</p>
  <input type="text" #searchTerm2 placeholder="comida" (keyup)="search(searchTerm2.value)">-->
  <!--<div *ngFor="let recipe of recipes | async" (click)="selectRecipe(recipe);searchTerm.value=''">{{recipe.name}}</div>-->
  <div *ngFor="let recipe of recipes | async" (click)="selectRecipe(recipe);searchTerm.value=recipe.name">{{recipe.name}}</div>
  
</div>

