<div>
    <button mat-icon-button (click)="onRemove()">
      <mat-icon class="md-36" aria-label="Example icon-button with a heart icon">delete</mat-icon>
    </button>
    {{data.recipe.name}} ({{data.recipe.servings}})
  </div>
  
<mat-select placeholder="Mover a" #select (change)="onMoved(select.selected.value)">  
  <mat-option *ngFor="let day of data.weekDays; let i = index" [value]="i">{{day}}</mat-option>
</mat-select>    
<mat-form-field>
  <input matInput placeholder="Servings" type="number" [(ngModel)]="data.recipe.servings" min="1" max="99" required="required">
</mat-form-field>
<br>
<button (click)="cancel()">Cancel</button>
<button (click)="accept()">Accept</button>




