Servings: <input type="number" [(ngModel)]="servings">
<input type="text" #weekName name="weekName" placeholder="name of the week">
<button (click)="storeWeek(weekName.value)">store week</button>
<md-tab-group class="recipes" (selectChange)="onLinkClick($event)">
  <md-tab *ngFor="let day of weekDays; let i = index" label="{{day}}">
    <br>
    <div class="recipe" *ngFor="let recipe of weekRecipes[i]; let j = index" (click)="openDialog(recipe,i,j)">{{recipe.name}} ({{recipe.servings}}p)</div>  
    <hr>    
  </md-tab>
</md-tab-group>
